body {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
}

h1,
h2,
h3,
h4,
title {
    color: #99DEA9;
    font-family: Roboto;
}

.naranja {
    color: #FF3D00
}

p {
    font-family: Roboto;
    color: #FF3D00
}

.verde {
    color: #68A885
}

.verdeclaro {
    color: #99DEA9
}